**Author: Ronak Bediya**

**Q 1: Write a program to print numbers from 1 to 10, but stop if the number is 5.**

In [1]:
for i in range(1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

**Q 2:Write a program to print elements of list but stop after encountering a specific element.**

In [2]:
list_data = [1,2,3,"RONAK",4,5]
for ele in  list_data:
  if ele =="RONAK":
    break
  print(ele)

1
2
3

**Q 3: Write a program to skip printing even numbers from 1 to 10.**

In [3]:
for i in range(1,11):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

**Q 4:Write a program to print numbers of 0 to 9 using range function.**

In [5]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

**Q 5: Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each
number.**

In this question instead of first table **first row** should be best fitted, however I have implemented both solutions bellow.

In [9]:
## if we consider first table for each number. [Asked in Question]
for i in range(1, 6):
    print(f"Multiplication Table for {i}:")
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")
    print()
    break

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [10]:
## If we consider first row of each table.[ my interpretation ]
for i in range(1, 6):
    print(f"Multiplication Table for {i}:")
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")
        break
    print()

Multiplication Table for 1:
1 x 1 = 1

Multiplication Table for 2:
2 x 1 = 2

Multiplication Table for 3:
3 x 1 = 3

Multiplication Table for 4:
4 x 1 = 4

Multiplication Table for 5:
5 x 1 = 5

**Q 6: Write a Program to Print numbers from 1 to 10 but skip printing even numbers using while loop.**

In [12]:
num = 1
while num < 11:
    if num % 2 == 0:
        num += 1
        continue
    print(num)
    num += 1

1
3
5
7
9