**Author: Ronak Bediya**

**When We want to execute a block of code repeatedly. They provide a way to automate repetitive tasks and iterate over a sequence of data**

**Q 1: Print numbers from 1 to 5 using loop.**

In [2]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [3]:
num =1
while(num<6):
  print(num)
  num+=1

1
2
3
4
5

**Q 2:  Calculate sum of numbers from 1 to 10 using while loop.**

In [5]:
sum=0
num=1
while(num<11):
  sum+=num
  num+=1
print(sum)

55

**Q 3: Calculate factorial of a number using for loop.**

In [10]:
fact=1
number=int(input("Enter a number:"))
for i in range(1,number+1):
  fact*=i
print(fact)

Enter a number:5
120

**Q 4: Calculate number of vowels in a string using for loop.**

In [12]:
String="RONAK BEDIYA "
count=0
vowels="aeiouAEIOU"
for i in String:
  if i in vowels:
    count+=1
print("The numbers of vowels in a string is:",count)

The numbers of vowels in a string is: 5

**Q 5: Print patterns**

In [21]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

**Q 6: Generate Multiplication table using nested loops.**

In [20]:
## generally we can print multiplication table using single loops only.
## please visit bellow code
number =8
for i in range(1, 11):
        result = number * i
        print(f"{number} * { i} = {result}")

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

**Time Complexity:O(n)**

In [18]:
## we can utilize nested loops to print multiplication tables of a certain range of numbers:[1 to 5] or [8 to 12] etc.
num = int(input("Enter a number: "))

for i in range(1, num + 1):
    print(f"Multiplication table of: {i}")
    for j in range(1, 11):
        result = i * j
        print(f"{i} * {j} = {result}\t")
    print()

Enter a number: 5
Multiplication table of: 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table of: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table of: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table of: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table of: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**Time Complexity:O(n^2)**