**Operators in Python:**
Operators in Python are symbols or special keywords that are used to perform operations on variables and values.

**Author: Ronak Bediya**

In [2]:
## arithmetic oparations:
## let us suppose I have 2 numbers a and b and both are of type integer
a = 45
b = 20
add = a + b
minus = a - b
mul = a * b
div = a / b

In [3]:
print(add)
print(minus)
print(mul)
print(div)

65
25
900
2.25

Assignment operators in Python are used to assign values to variables. They combine the operation of assigning a value to a variable with a specific operation like addition, subtraction, multiplication, etc.

In [4]:
number = 5
number += 3
number -= 2

In [6]:
print(number) ## 5 + 3 - 2 = 6

6

In [7]:
number *=4  ## 6 * 4

In [8]:
print(number)

24

In [9]:
number /= 3

In [10]:
print(number)

8.0

In [11]:
number **2

64.0

**Comparision of 2 numbers**

In [12]:
num_1 = 45
num_2 = 30
print(num_1 == num_2)

False

**Checking Conditions on variables:**

In [13]:
condition = num_1 >30 and num_2 >20

In [15]:
print(condition)

True

In [16]:
condition_2 = num_2 > 50

In [17]:
print(condition_2)

False

In [19]:
condition_3 = num_1 or num_2
print(condition_3)

45

**Applying identity operators on 2 different list having simmilar data elements:**

In [20]:
x = [1, 2, 3]
y = [1, 2, 3]
are_same = x is y  # False
print(are_same)

False

**Reason:** Python creates new memory space for each list object

**Bitwise Operators:** Performs operations on bit level. Used for bit manupulation tasks.

*   Bitwise And
*   Bitwise OR

In [23]:
a = 5
b = 3
result_and = a & b
result_or = a | b
print(result_and) ## if both bits are one resultant bit is set 1.
print(result_or) ## Sets each bit to 1 if at least one of the corresponding bits is 1.

1
7



*   Bitwise NOT
*   Bitwise XOR

In [24]:

result_negation = ~a

In [28]:
result_xor = a ^ b  ## both bits should be different

In [25]:
result_left_shift = a << 1

In [26]:
result_right_shift = a >> 1

In [29]:
print(result_xor)

6

In [30]:
print(result_left_shift)

10

**Q7:Use unary operators to change the sign of a number.**

Sign change = 2's complement

In [33]:
changed_sign = ~a + 1  ## 2's complement
print(changed_sign)

-5

**Q 8: Use the ternary operator to assign values based on conditions.**

In [34]:
# Assign 'Even' to result if num is even, otherwise assign 'Odd'
num = 6
result = "Even" if num % 2 == 0 else "Odd"
print(result)

Even