**Type Conversion in python:**
Type conversion in Python refers to the process of converting one data type to another. Python provides built-in functions for performing type conversion.

**Q1:Convert an integer to a floatig-point number.**

In [3]:
 ## floating point conversion:
num = int(input("Enter a number:"))
float_num=float(num)
print(float_num)
print(type(float_num))

Enter a number:45
45.0
<class 'float'>

**Q2: Convert a float number to an integer number**

In [4]:
## integer conversion:
float_num = float(input("Enter a floating point number:"))
int_num = int(float_num)
print(int_num)

Enter a floating point number:46.7
46

**Q3: Convert a number to string.**

In [6]:
## String conversions:
number = 123
string_number = str(number)
print(string_number )
print(type(string_number))

123
<class 'str'>

**Q4: Convrert a list to tuple**

In [7]:
## Conversion of list to tuple:
list_data = [4, 5, 6]
tuple_data = tuple(list_data)
print(tuple_data)
print(type(tuple_data))

(4, 5, 6)
<class 'tuple'>

**Q5: cxonvert a tuple to list.**

In [8]:
## tuple to list
tuple_data = (1, 2, 3)
list_data = list(tuple_data)

**Q 6: decimal to binary**

In [11]:
decimal_number = 10
binary_number = bin(decimal_number)
print(binary_number)

0b1010

**Q 7: Boolean conversions**

In [10]:
## boolean conversation:
number = 67.5
boolean_value = bool(number)
print(boolean_value)

True